* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
	background-color: #3a3a3a;
	color: #ddd;
}

button {
	padding: 1rem;
}

.container {
	padding: 50px;
	background-color: #555555;
}

.gamecard {
	background-color: #222222;
	border: 1px solid gray;
	margin-top: 10px;
	padding: 8px;
}
