html {
	background-color: #3a3a3a;
	color: #fafafa;
}

button {
	padding: 0.5rem 1rem;
	font-weight: bold;
	font-size: 0.9rem;
	border-radius: 5px;
	border: 0;
	margin: 0 0.5rem;
}

input {
	background-color: #fafafa;
	border: none;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	font-size: 0.9rem;
}

.secondary-button {
	background-color: #aaa;
}

.panel {
	background-color: #2a2a2a;
	margin: 1rem;
	border-radius: 5px;
}

.App {
	text-align: center;
}

.half {
	width: 50vw;
}
.third {
	width: 33.3333vw;
}
.fourth {
	width: 25vw;
}

.caption {
	margin: 0;
	padding: 0;
	font-size: 0.75rem;
}
